.card-img-top{
    height:400px;
   overflow-y: auto;
   margin-top: 4em;
   background-color: #FFD3DB;
   
}
.card-body{
    background-color: #FFD3DB;
}
.card-footer{
    margin-top: 1em;
}
.card-layout{   
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-top:2em; 
  margin-left: 4em ;
margin-right: 4em;
background-color: #FFD3DB;
}
.PetDetails{
    margin:20em;
    margin-top: 8em;
}



